@{
    Layout = null;
}
<div class="cont-inner-room">
    <div class="grey">
        <div class="grey-head gradient">
            <div class="grey-pallet-icon">
            </div>
            <p>
                <strong>User Code Delete - Confirmation</strong></p>
            <div class="close-icon">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/close-icon.png")" alt="" onclick="hideIntrusionDeleteOverlay();" /></a>
            </div>
            <div class="close-icon">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/collapse-icon.png")" alt="" /></a>
            </div>
        </div>
        
        <div id ="dvStep2DeleteUCContent">
        <div class="grey-body gradient">
            <div class="my-access-body-cont">
                <div class="my-access-titile bottom">
                    <p>
                        <strong>Step 2: Deletion Fields</strong></p>
                </div>
                <div class="my-access-lbl bottom" style="display:none;">
                    <p>
                        <strong>User Number:</strong></p>
                </div>
                <div class="my-access-field bottom" style="display:none;">                    
                     @Html.TextBox("txtStep2DeleteUserNum",null, new {@readonly = "readonly", @class = "my-access-in", maxlength = 250 })                     
                </div>                
                <div class="clear">
                </div>
                <div class="my-access-lbl bottom">
                    <p>
                        <strong>Name:</strong></p>
                </div>
                <div class="my-access-field bottom">                    
                    @Html.TextBox("txtStep2DeleteUserName", null, new { @readonly = "readonly", @class = "my-access-in", maxlength = 250 })
                </div>                
                <div class="clear">
                </div>
                <div class="my-access-lbl bottom">
                    <p>
                        <strong>User Code:</strong></p>
                </div>
                <div class="my-access-field bottom">                    
                    @Html.TextBox("txtStep2DeleteUserCode", null, new { @readonly = "readonly", @class = "my-access-in", maxlength = 250 })
                </div>                
                <div class="clear">
                </div>
                <div class="my-access-lbl bottom">
                    <p>
                        <strong>Profile Number:</strong></p>
                </div>
                <div class="my-access-field bottom">
                    @(Html.Kendo().ComboBox()
                        .Name("cboProfileNumberDelete")
                        .Placeholder("-- Select --")
                        .HtmlAttributes(new { style = "width:100%"})
                        .DataTextField("Name")
                        .DataValueField("Id")
                        .Suggest(true)
                        .Enable(false)                        
                    )
                </div>                
                <div class="clear">
                </div>
            </div>
            <div class="my-access-right-btn" style="width:143px;">
                <div class="add-link" align="center" style="float: left;">
                    <input type="button" value="Delete"  onclick="javascript:deleteUserCode();return false;"/>
                </div>
                <div class="add-link" align="center" style="float: right;">
                    <input type="button" value="Cancel"  onclick="fnCloseDeleteStep2();"/>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="grey-set">
            <div class="sett-icon">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/move-icon.png")" alt="" /></a>
            </div>
            <div class="sett-icon">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/settings-icon.png")" alt="" /></a>
            </div>
        </div>
        </div>
    </div>
</div>
@(Html.Kendo().Window().Name("wndDeleteUserCode")
    .Visible(false)
    .Modal(true)
    .Title("User Code Delete")
    .Draggable(true)
    .Width(300)    
)
<script type="text/javascript">
    function fnCloseDeleteStep2() 
    {
        document.getElementById('dvStep2DeleteUserCode').style.visibility = 'hidden';
        document.getElementById('my_overlay').style.visibility = 'hidden';
    }   

    function ConfirmCancel() {
        $("#wndDeleteUserCode").data("kendoWindow").close();
    }

    function deleteUserCode() {
//        var wnd = $("#wndDeleteUserCode").data("kendoWindow");
//        wnd.content("<p style='height:100px'>Are you sure you want to delete this item?</p><p>" +
//                "<input type='button' value='Ok' style='float:left;background: none repeat scroll 0 0 #5E5E5E;border: medium none; color: #FFFFFF; cursor: pointer; font-size: 11px; font-weight: bold; margin: 0; padding: 6px 15px 6px 22px;margin-right:4px;' onclick='javascript:fnValidateUserCodeDelete();'>" +
//                 "<input type='button' value='Cancel' style='float:left;background: none repeat scroll 0 0 #5E5E5E;border: medium none; color: #FFFFFF; cursor: pointer; font-size: 11px; font-weight: bold; margin: 0; padding: 6px 15px 6px 22px;margin-left:5px;' onclick='ConfirmCancel()'></p>");
        //        wnd.center().open();
        var DeleteProfileValue = $("#cboProfileNumberDelete").val();
        var deviceID = $("#IntrusionCategories").val();
        //$("#wndDeleteUserCode").data("kendoWindow").close();

        var dataItem = { "name": $('#txtStep2DeleteUserName').val(), "userCode": $('#txtStep2DeleteUserCode').val(), "userNumber": $('#txtStep2DeleteUserNum').val(), "profileNumber": DeleteProfileValue, "deviceId": deviceID };
        var url = '@Url.Action("UserCodeDelete", "Intrusion")';
        BlockElement("dvStep2DeleteUCContent", 'Connecting...');
        $.post(url, dataItem, GetUserCodeDeleteCallback, "json");   
    }    
//    function fnValidateUserCodeDelete() 
//    {
//        var DeleteProfileValue = $("#cboProfileNumberDelete").val();
//        var deviceID = $("#IntrusionCategories").val();
//        $("#wndDeleteUserCode").data("kendoWindow").close();

//        var dataItem = { "name": $('#txtStep2DeleteUserName').val(), "userCode": $('#txtStep2DeleteUserCode').val(), "userNumber": $('#txtStep2DeleteUserNum').val(), "profileNumber": DeleteProfileValue, "deviceId": deviceID };
//        var url = '@Url.Action("UserCodeDelete", "Intrusion")';
//        BlockElement("dvStep2DeleteUCContent", 'Connecting...');
//        $.post(url, dataItem, GetUserCodeDeleteCallback, "json");             
//    }

    function GetUserCodeDeleteCallback(ResultSet) {
        UnBlockElement("dvStep2DeleteUCContent");
        if (ResultSet != null && ResultSet != undefined) {
            if (ResultSet.Message != null && ResultSet.Message != undefined && ResultSet.Message != "") {
                fnShowAlertInfo(ResultSet.Message);
            }
            else {
                if (ResultSet == "OK") {
                    fnShowAlertInfo('User code deleted successfully.');
                    document.getElementById('dvStep2DeleteUserCode').style.visibility = 'hidden';
                    document.getElementById('my_overlay').style.visibility = 'hidden';
                }
            }
        }
    }
</script>
<style>    
    #wndDeleteUserCode
    {
        visibility:visible !important;
    }
</style>

