<div class="cont-inner-room">
    <div class="grey">
        <div class="grey-head gradient">
            <div class="grey-pallet-icon">
            </div>
            <p>
                <strong>Cardholder Modify</strong></p>
            <div class="close-icon">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/close-icon.png")" alt="" onclick="DMPXRCloseModificationFields();"/></a>
            </div>
            <div class="close-icon">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/collapse-icon.png")" alt="" /></a>
            </div>
        </div>
        <div id="dvDMPXRCardholderModify2Content">
        <div class="grey-body gradient">
            <div class="my-access-body-cont">
                <div class="my-access-titile bottom">
                    <p>
                        <strong>Step 2: Modification Fields</strong></p>
                </div>
                <div id="dvErrCHModifyflds">
                <ul>
                
                </ul>
                </div>
                <div class="my-access-lbl bottom" style="display:none;">
                    <p>
                        <strong>Cardholder ID:(*)</strong></p>
                </div>
                <div class="my-access-field bottom" style="display:none;">                    
                    @Html.TextBox("txtStep2DMPXRCHID", null, new { @readonly = "readonly", @class = "my-access-in", maxlength = 250 })
                </div>                
                <div class="clear">
                </div>               
                <div class="my-access-lbl bottom">
                    <p>
                        <strong>Name:(*)</strong></p>
                </div>
                <div class="my-access-field bottom">                    
                    @Html.TextBox("txtStep2DMPXRCHlastName", null, new { @class = "my-access-in", maxlength = 250 })
                </div>                
                <div class="clear">
                </div>
                <div class="my-access-lbl bottom">
                    <p>
                        <strong>Card Number:(*)</strong></p>
                </div>
                <div class="my-access-field bottom">                    
                    @Html.TextBox("txtStep2DMPXRCHcardNumber", null, new { @class = "my-access-in" })
                </div>                
                <div class="clear">
                </div>
                <div class="my-access-lbl bottom">
                    <p>
                        <strong>Profile Number:(*)</strong></p>
                </div>
                <div class="my-access-field bottom">
                       @(Html.Kendo().ComboBox()
                        .Name("cboDMPXRCHModifyAccessGroup")
                        .Placeholder("-- Select --")
                        .HtmlAttributes(new { style = "width:100%" })
                        .DataTextField("Name")
                        .DataValueField("Id")
                        .Suggest(true)
                        )
                </div>                                               
                <div class="clear">
                </div>
            </div>
            <div class="my-access-right-btn" style="width:137px;">
                <div class="add-link" align="center" style="float: left;">
                    <input type="button" value="Save" onclick="javascript:fnValidateDMPXRCardholderModify();return false;"/>
                </div>
                <div class="add-link"  align="center" style="float: right;">
                    <input type="button" value="Cancel" onclick="DMPXRCloseModificationFields();"/>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="grey-set">
            <div class="sett-icon">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/move-icon.png")" alt="" /></a>
            </div>
            <div class="sett-icon">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/settings-icon.png")" alt="" /></a>
            </div>
        </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function DMPXRCloseModificationFields() {
        document.getElementById('my_overlay').style.visibility = 'hidden';
        document.getElementById('dvDMPXRMdfyCrdHldrMdFlds').style.visibility = 'hidden';
    }

    function CloseModifyConfirmationPortlet() {
        document.getElementById('dvDMPXRMdfyCrdHldrMdFlds').style.visibility = 'hidden';
        document.getElementById('my_overlay').style.visibility = 'hidden';
    }
    function fnValidateDMPXRCardholderModify() {
        $("#dvErrCHModifyflds ul").empty();

        var deviceID = $("#AccessViewDeviceList").val();
        var cardHolderID = $("#txtStep2DMPXRCHID").val();        
        var cardHolderFName = '';
        var cardHolderLName = $("#txtStep2DMPXRCHlastName").val();
        var cardHolderNumber = $("#txtStep2DMPXRCHcardNumber").val();        
        var CHpin = '';
        var AccessGrp = $("#cboDMPXRCHModifyAccessGroup").val();        
        var CHActivationDate = '';        
        var CHExpirationDate = '';        
        var ModifyIsActive = '';
        var regModifyStep2 = /^[0-9]+$/;

        if ((AccessGrp == '' || AccessGrp == '-- Select --') && cardHolderLName == '' && cardHolderNumber == '') {            
            $('#dvErrCHModifyflds ul').append('<li class="validation-summary-accesspopup">Name is Required</li>');
            $('#dvErrCHModifyflds ul').append('<li class="validation-summary-accesspopup">Cardholder Number is Required</li>');
            $('#dvErrCHModifyflds ul').append('<li class="validation-summary-accesspopup">Profile Number is Required</li>');
            if (!regModifyStep2.test(cardHolderNumber)) {
                $('#dvErrCHModifyflds ul').append('<li class="validation-summary-accesspopup">Card Number must consist of numeric values</li>');
            }
        }        
        else if ((AccessGrp == '' || AccessGrp == '-- Select --') && cardHolderLName == '') {            
            $('#dvErrCHModifyflds ul').append('<li class="validation-summary-accesspopup">Name is Required</li>');
            $('#dvErrCHModifyflds ul').append('<li class="validation-summary-accesspopup">Profile Number is Required</li>');
            if (!regModifyStep2.test(cardHolderNumber)) {
                $('#dvErrCHModifyflds ul').append('<li class="validation-summary-accesspopup">Card Number must consist of numeric values</li>');
            }
        }        
        else if ((AccessGrp == '' || AccessGrp == '-- Select --') && cardHolderNumber == '') {            
            $('#dvErrCHModifyflds ul').append('<li class="validation-summary-accesspopup">Cardholder Number is Required</li>');
            $('#dvErrCHModifyflds ul').append('<li class="validation-summary-accesspopup">Profile Number is Required</li>');
        }               
        else if (cardHolderLName == '' && cardHolderNumber == '') {            
            $('#dvErrCHModifyflds ul').append('<li class="validation-summary-accesspopup">Name is Required</li>');
            $('#dvErrCHModifyflds ul').append('<li class="validation-summary-accesspopup">Cardholder Number is Required</li>');
        }
        else if (cardHolderLName == '') {            
            $('#dvErrCHModifyflds ul').append('<li class="validation-summary-accesspopup">Name is Required</li>');
            if (!regModifyStep2.test(cardHolderNumber)) {
                $('#dvErrCHModifyflds ul').append('<li class="validation-summary-accesspopup">Card Number must consist of numeric values</li>');
            }
        }        
        else if (cardHolderNumber == '') {            
            $('#dvErrCHModifyflds ul').append('<li class="validation-summary-accesspopup">Cardholder Number is Required</li>');
        }        
        else if ((AccessGrp == '' || AccessGrp == '-- Select --')) {
            $('#dvErrCHModifyflds ul').append('<li class="validation-summary-accesspopup">Profile Number is Required</li>');
            if (!regModifyStep2.test(cardHolderNumber)) {
                $('#dvErrCHModifyflds ul').append('<li class="validation-summary-accesspopup">Card Number must consist of numeric values</li>');
            }
        }
        else if (!regModifyStep2.test(cardHolderNumber)) {
            $('#dvErrCHModifyflds ul').append('<li class="validation-summary-accesspopup">Card Number must consist of numeric values</li>');
        }
        else {
                var dataItem = { "cardHolderId": cardHolderID, "lastName": cardHolderLName, "firstName": cardHolderFName, "cardNumber": cardHolderNumber, "pin": CHpin,
                    "accessGroupId": AccessGrp, "cardActivationDate": CHActivationDate, "cardExpirationDate": CHExpirationDate, "isActive": ModifyIsActive, "deviceId": deviceID
                };
                var url = '@Url.Action("CardHolderModify", "Access")';
                BlockElement("dvDMPXRCardholderModify2Content", 'Connecting...');
                $.post(url, dataItem, DMPXRGetCardHolderModifyCallback, "json");            
        }
    }

    function DMPXRGetCardHolderModifyCallback(ResultSet) {
        UnBlockElement("dvDMPXRCardholderModify2Content");
        if (ResultSet != null && ResultSet != undefined) {
            if (ResultSet.Message != null && ResultSet.Message != undefined && ResultSet.Message != "") {
                fnShowAlertInfo(ResultSet.Message);
            }
            else {
                if (ResultSet == "OK") {
                    fnShowAlertInfo('Cardholder modified successfully.');
                    document.getElementById('my_overlay').style.visibility = 'hidden';
                    document.getElementById('dvDMPXRMdfyCrdHldrMdFlds').style.visibility = 'hidden';
                }
            }
        }
    }
</script>