@model Diebold.WebApp.Models.CompanyGroupingViewModel
   
<li>
    @Html.HiddenFor(model => model.Grouping1Id)
    @Html.HiddenFor(model => model.Grouping1Name)
    @Html.HiddenFor(model => model.Grouping2Id)
    @Html.HiddenFor(model => model.Grouping2Name)
    @Html.HiddenFor(model => model.SiteId)
    @Html.HiddenFor(model => model.SiteName)
</li>