@model DieboldMobile.Models.LiveViewModel
@{
    ViewBag.Title = "LiveView";
}

<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=320,user-scalable=false" />

	<link rel="stylesheet" type="text/css" href="../../Content/style.css">
    <script type="text/javascript" src="@Url.Content("~/Scripts/IPConfigure/Player.min.js")" ></script>
    <!--[if gte IE 9]>
        <link rel="stylesheet" type="text/css" href="css/gradient-ie6-and-up.css" />
	<![endif]-->

	<title>Diebold</title>
    
    

	<script type="text/javascript">
<!--
	    function MM_swapImgRestore() { //v3.0
	        var i, x, a = document.MM_sr; for (i = 0; a && i < a.length && (x = a[i]) && x.oSrc; i++) x.src = x.oSrc;
	    }
	    function MM_preloadImages() { //v3.0
	        var d = document; if (d.images) {
	            if (!d.MM_p) d.MM_p = new Array();
	            var i, j = d.MM_p.length, a = MM_preloadImages.arguments; for (i = 0; i < a.length; i++)
	                if (a[i].indexOf("#") != 0) { d.MM_p[j] = new Image; d.MM_p[j++].src = a[i]; }
	        }
	    }

	    function MM_findObj(n, d) { //v4.01
	        var p, i, x; if (!d) d = document; if ((p = n.indexOf("?")) > 0 && parent.frames.length) {
	            d = parent.frames[n.substring(p + 1)].document; n = n.substring(0, p);
	        }
	        if (!(x = d[n]) && d.all) x = d.all[n]; for (i = 0; !x && i < d.forms.length; i++) x = d.forms[i][n];
	        for (i = 0; !x && d.layers && i < d.layers.length; i++) x = MM_findObj(n, d.layers[i].document);
	        if (!x && d.getElementById) x = d.getElementById(n); return x;
	    }

	    function MM_swapImage() { //v3.0
	        var i, j = 0, x, a = MM_swapImage.arguments; document.MM_sr = new Array; for (i = 0; i < (a.length - 2); i += 3)
	            if ((x = MM_findObj(a[i])) != null) { document.MM_sr[j++] = x; if (!x.oSrc) x.oSrc = x.src; x.src = a[i + 2]; }
	    }
//-->
    </script>
</head>

<body onLoad="MM_preloadImages('../../Content/images/back-btn-hovr.png')">
        <!-- Main Row Starts here -->
      <div class="row">
        	<div class="sixteen columns">
            	<header>
                    <div class="sixteen columns logo-small" align="center">
                    
                    	<div class="back">
                       	  <a href="../Dashboard/Home" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('back btn','','../../Content/images/back-btn-hovr.png',1)"><img src="../../Content/images/back-btn.png" name="back btn" border="0"></a>
                      </div>
                        
                    	<a href="http://www.diebold.com/dnpssec/default.htm" target="_blank"><img src="../../Content/images/logo-small.png" alt="" /></a>
	                    
                        <div class="log-out">
                        	<a href="@Url.Content("~/Account/LogOff")"><img src="../../Content/images/logout-icon.png" alt="" /></a>
                        </div>
                    </div>
				</header>
                
                <div class="clear"></div>	
                
                <!-- MAIN CONTAINER STARTS HERE -->
                <section>
                	<article>
                                    
                        <!-- VIDEO PAGE STARTS HERE -->
                        <div class="video">
                            
                            <div class="drop-down-sel" align="center" style="margin:2% 0;">
                                <select id="ServerList" name="ServerList" onChange="Server_SelectionChanged()">
                                    <option>Select Server</option>
                                </select>
                            </div>
                                        
                            <div class="drop-down-sel" align="center" style="margin:2% 0;">
                                <select id="CameraList" name="CameraList" onChange="PlaySelectedCamera();">
                                    <option value="-1">Select Camera</option>
                                </select>
                            </div>
                            <div id="ipConfigure-player" style="background-color: black; width: 100%; height: 300px;"> </div>                   
                        <div id="playercontrol" style="margin-left:40%; margin-top:3%;display:none;">       
                            <img id="btnPlayback" src="@Url.Content("~/Content/images/Play.png")" height="25px" width="25px" alt="Play" onclick="javascript:Playback();" />
                            <img id="btnStop" src="@Url.Content("~/Content/images/Stop.png")" height="25px" width="25px" alt="Stop" onclick="javascript:StopPlayer();" />                                                           
                        </div>
                            	
                        </div>
                        <!-- VIDEO PAGE ENDS HERE -->

                    </article>
                </section>
            </div>
        </div>
        <!-- Main Row Ends here -->
	<script type="text/javascript">
	    var ManagementUri = "";
	    var playerdiv = $("#ipConfigure-player");
	    var player = new ipConfigure.Player(playerdiv);
	    var CurrentCamera = "";
	    var serverDataSource;
	    $(document).ready(function () {
	        ManagementUri = '@System.Web.Configuration.WebConfigurationManager.AppSettings["IpConfigureURL"]';
	        GetServerDetails();
	    });

	    function PlaySelectedCamera() {
	        var varSelectedCameraValue = $('#CameraList option:selected').val();
	        if (varSelectedCameraValue > 0) {
	            var varSelectedServerValue = $('#ServerList option:selected').val();
	            var camera = null;
	            for (var i = 0; i < serverDataSource.length; i++) {
	                if (parseInt(varSelectedCameraValue) == serverDataSource[i].CameraID && varSelectedServerValue == serverDataSource[i].ServerID) {
	                    camera = serverDataSource[i];
	                }
	            }
	            StopPlayer();
	            PlayCamera(camera);
	        }
	        else {
	            $('#playercontrol').hide();
	            StopPlayer();
	        }
	    }

	    function PlayCamera(camera) {
	        CurrentCamera = camera;
	        ipConfigure.Settings.ManagementUri = '@System.Web.Configuration.WebConfigurationManager.AppSettings["IpConfigureURL"]';
	        player = new ipConfigure.Player(playerdiv);
	        player.Play(CurrentCamera);
	        $('#playercontrol').show();
	    }

	    function StopPlayer() {
	        player.Stop();
	    }
	    function Playback() {
	        player.Play(CurrentCamera);
	    }

	    function GetServerDetails() {
	        ipConfigure.Settings.ManagementUri = '@System.Web.Configuration.WebConfigurationManager.AppSettings["IpConfigureURL"]';
	        var cameras = $("#Cameras")
	        var playerdiv = $("#ipConfigure-player");
	        var player = new ipConfigure.Player(playerdiv);
	        $.ajax(ipConfigure.Settings.ManagementUri + "/services/API.svc/GetCameras",
            { dataType: "jsonp" })
            .done(function (data) {
                data.d.sort(function (a, b) {
                    if (a.Name > b.Name) return 1;
                    else if (a.Name < b.Name) return -1;
                    else return 0;
                });
                BindServerList(data.d)
            })
            .fail(function (data) { });
	    }

	    function BindServerList(dataSource) {
	        serverDataSource = dataSource;
	        var cmbServerList = $('#ServerList');
	        var usedNames = {};
	        for (i = 0; i < dataSource.length; i++) {
	            if (usedNames[dataSource[i].ServerID]) {

	            } else {
	                usedNames[dataSource[i].ServerID] = dataSource[i].LocationName;
	                cmbServerList.append('<option value=' + dataSource[i].ServerID + '>' + dataSource[i].LocationName + '</option>');
	            }
	        }

	    }

	    function Server_SelectionChanged() {
	        var selectedServer = $('#ServerList option:selected').val();
	        $('#CameraList').find('option').remove().end().append('<option value="-1">Select Camera</option>');

	        for (i = 0; i < serverDataSource.length; i++) {
	            if (serverDataSource[i].ServerID == selectedServer) {
	                $('#CameraList').append('<option value=' + serverDataSource[i].CameraID + '>' + serverDataSource[i].Name + '</option>');
	            }
	        }
	        //$('#CameraList').data().kendoComboBox.value(cmbCameraListData[0].CameraID);

	        StopPlayer();
	        CurrentCamera = "";
	    }
	</script>
</body>
</html>
