<div id="grey" style="width:439px;">
    <div class="grey-head-lft">
    </div>
    <div class="grey-head-mid-big">
        <div class="grey-icon" style="background-color:Red;">
            
            <img src="@Url.Content("~/Content/images/collapse-icon.png")" width="20" height="27" alt="" />
        </div>
        <p>
            <strong>My Access Points - Add Access Group</strong></p>
        <div class="close-icon">
            <a href="#">
                <img src="@Url.Content("~/Content/images/close-icon.png")" width="21" height="27" alt="" /></a>
        </div>
        <div class="close-icon">
            <a href="#">
                <img src="@Url.Content("~/Content/images/collapse-icon.png")" width="20" height="27" alt="" /></a>
        </div>
    </div>
    <div class="grey-head-right">
    </div>
    <div class="clear">
    </div>
    <div class="grey-body-big">
        <div class="access-wid-body-cont">
            <div class="access-wid-title">
                <p>
                    <strong>Step 1: Enter General Group Details</strong></p>
            </div>
            <div class="access-wid-cont">
                <div class="access-wid-lft">
                    <p>
                        <strong>Name:</strong></p>
                </div>
                <div class="access-wid-right">
                   <input type="text" id="txtName" class="k-widget k-autocomplete k-header k-state-default k-input" style="border-color:#000; width:191px; height:25px;" />
                </div>
                <span class="Reqdcontent">*Required</span>
                <div class="clear">
                </div>
                <div class="access-wid-lft">
                    <p>
                        <strong>Description:</strong></p>
                </div>
                <div class="access-wid-right">
                    <input type="text" id="txtDescription" class="k-widget k-autocomplete k-header k-state-default k-input" style="border-color:#000; width:191px; height:25px;" />
                </div>
                <div class="clear">
                </div>
                <div class="access-wid-lft">
                    <p>
                        <strong>Time Periods:</strong></p>
                </div>
                <div class="access-wid-right">
                    <img src="@Url.Content("~/Content/images/time-periods1.png")" width="367" height="61" alt="" />
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
    </div>
    <div class="grey-bot-big">
    </div>
    <div class="grey-set">
        <div class="sett-icon">
            <a href="#">
                <img src="@Url.Content("~/Content/images/move-icon.png")" alt="" /></a>
        </div>
        <div class="sett-icon">
            <a href="#">
                <img src="@Url.Content("~/Content/images/settings-icon.png")" alt="" /></a>
        </div>
    </div>
</div>
