<div class="cont-inner-room">
    <div class="grey">
        <div class="grey-head gradient">
            <div class="grey-pallet-icon">
            </div>
            <p>
                <strong>My Access Points - Delete Confirmation</strong></p>
            <div class="close-icon">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/close-icon.png")" alt="" onclick="CloseCardHolderDeleteConfirmation();"/></a>
            </div>
            <div class="close-icon">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/collapse-icon.png")" alt="" /></a>
            </div>
        </div>
        <div id="dvCardholderDeleteContent">
        <div class="grey-body gradient">
            <div class="my-access-body-cont">
                <div class="my-access-titile bottom">
                    <p>
                        <strong>Step 2: Confirm Delete User</strong></p>
                </div>
                <div class="my-access-lbl bottom">
                    <p>
                        <strong>First Name:</strong></p>
                </div>
                <div class="my-access-field bottom">                    
                     @Html.TextBox("txtDeleteFNameStep2", null, new { @readonly = "readonly", @class = "my-access-in"})
                </div>                
                <div class="clear">
                </div>
                <div class="my-access-lbl bottom">
                    <p>
                        <strong>Last Name:</strong></p>
                </div>
                <div class="my-access-field bottom">
                     @Html.TextBox("txtDeleteLNameStep2", null, new { @readonly = "readonly", @class = "my-access-in"})
                </div>                
                <div class="clear">
                </div>
                <div class="my-access-lbl bottom">
                    <p>
                        <strong>Card Number:</strong></p>
                </div>
                <div class="my-access-field bottom">                    
                    @Html.TextBox("txtDeleteCardNumStep2", null, new { @readonly = "readonly", @class = "my-access-in"})
                </div>                
                <div class="clear">
                </div>
                <div class="my-access-lbl bottom" style="display:none;">
                    <p>
                        <strong>Cardholder ID:</strong></p>
                </div>
                <div class="my-access-field bottom" style="display:none;">
                     @Html.TextBox("txtDeleteCardholderID2", null, new { @readonly = "readonly", @class = "my-access-in"})
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="my-access-right-btn" style="width:143px;">
                <div class="add-link" align="center" style="float: left;">
                    <input type="button" value="Delete" onclick="deleteCardHolder();"/>
                </div>
                <div class="add-link"  align="center" style="float: right;">
                    <input type="button" value="Cancel" onclick="CloseCardHolderDeleteConfirmation();"/>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="grey-set">
            <div class="sett-icon">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/move-icon.png")" alt="" /></a>
            </div>
            <div class="sett-icon">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/settings-icon.png")" alt="" /></a>
            </div>
        </div>
        </div>
    </div>
</div>
@(Html.Kendo().Window().Name("wndDeleteCardHolder")
    .Visible(false)
    .Modal(true)
    .Title("CardHolder Delete")
    .Draggable(true)
    .Width(300)    
)
<script type="text/javascript">

    function deleteCardHolder() {
//        var wnd = $("#wndDeleteCardHolder").data("kendoWindow");
//        wnd.content("<p style='height:100px'>Are you sure you want to delete this item?</p><p>" +
//                "<input type='button' value='Ok' style='float:left;background: none repeat scroll 0 0 #5E5E5E;border: medium none; color: #FFFFFF; cursor: pointer; font-size: 11px; font-weight: bold; margin: 0; padding: 6px 15px 6px 22px;margin-right:4px;' onclick='javascript:fnValidateCardHolderDelete();'>" +
//                 "<input type='button' value='Cancel' style='float:left;background: none repeat scroll 0 0 #5E5E5E;border: medium none; color: #FFFFFF; cursor: pointer; font-size: 11px; font-weight: bold; margin: 0; padding: 6px 15px 6px 22px;margin-left:5px;' onclick='DeleteStep2ConfirmCancel()'></p>");
        //        wnd.center().open();
        
        
        

        var deviceID = $("#AccessViewDeviceList").val();
        var CHFNameStep2Delete = $("#txtDeleteFNameStep2").val();
        var CHLNameStep2Delete = $("#txtDeleteLNameStep2").val();
        var CHCardNumStep2Delete = $("#txtDeleteCardNumStep2").val();
        var CHIdStep2Delete = $("#txtDeleteCardholderID2").val();

        var dataItem = { "firstName": CHFNameStep2Delete, "lastName": CHLNameStep2Delete, "cardNumber": CHCardNumStep2Delete, "cardHolderId": CHIdStep2Delete, "deviceId": deviceID };
        var url = '@Url.Action("CardHolderDelete", "Access")';
        BlockElement("dvCardholderDeleteContent", 'Connecting...');
        $.post(url, dataItem, GetCHDeleteStep2Callback, "json");
    }

//    function fnValidateCardHolderDelete() {

//        $("#wndDeleteCardHolder").data("kendoWindow").close();
//        var deviceID = $("#AccessViewDeviceList").val();
//        var CHFNameStep2Delete = $("#txtDeleteFNameStep2").val();
//        var CHLNameStep2Delete = $("#txtDeleteLNameStep2").val();
//        var CHCardNumStep2Delete = $("#txtDeleteCardNumStep2").val();
//        var CHIdStep2Delete = $("#txtDeleteCardholderID2").val();

//        var dataItem = { "firstName": CHFNameStep2Delete, "lastName": CHLNameStep2Delete, "cardNumber": CHCardNumStep2Delete, "cardHolderId": CHIdStep2Delete, "deviceId": deviceID };
//        var url = '@Url.Action("CardHolderDelete", "Access")';
//        BlockElement("dvCardholderDeleteContent", 'Connecting...');
//        $.post(url, dataItem, GetCHDeleteStep2Callback, "json");
//    }

    function GetCHDeleteStep2Callback(ResultSet) {
        UnBlockElement("dvCardholderDeleteContent");
        if (ResultSet != null && ResultSet != undefined) {
            if (ResultSet.Message != null && ResultSet.Message != undefined && ResultSet.Message != "") {
                fnShowAlertInfo(ResultSet.Message);
            }
            else {
                if (ResultSet == "OK") {
                    fnShowAlertInfo('CardHolder deleted successfully.');
                    document.getElementById('dvDeleteCrdHldrConfirmation').style.visibility = 'hidden';
                    document.getElementById('my_overlay').style.visibility = 'hidden';
                }
            }
        }
    }
    function DeleteStep2ConfirmCancel() {
        $("#wndDeleteCardHolder").data("kendoWindow").close();
    }

    function CloseDeleteConfirmation() {
        document.getElementById('my_overlay').style.visibility = 'hidden';
        document.getElementById('dvDeleteCrdHldrConfirmation').style.visibility = 'hidden';
    }

    function CloseCardHolderDeleteConfirmation() {
        document.getElementById('my_overlay').style.visibility = 'hidden';
        document.getElementById('dvDeleteCrdHldrConfirmation').style.visibility = 'hidden';
    }
    
</script>
<style>    
    #wndDeleteCardHolder
    {
        visibility:visible !important;
    }
</style>