<div class="cont-inner-room">
    <div class="grey">
        <div class="grey-head gradient">
            <div class="grey-pallet-icon">
            </div>
            <p>
                <strong>My Access Points - Cardholder Modify</strong></p>
            <div class="close-icon">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/close-icon.png")" alt="" onclick="CloseModifyPortlet();"/></a>
            </div>
            <div class="close-icon">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/collapse-icon.png")" alt="" /></a>
            </div>
        </div>
           <div id ="dvCardholderModify2Contentss">
        <div class="grey-body gradient">
            <div class="my-access-body-cont">
                <div class="my-access-titile bottom">
                    <p>
                        <strong>Step 1: Lookup Fields</strong></p>
                </div>
                <div id="dvErrCardModify">
                <ul>
                
                </ul>
                </div>
                <div class="my-access-lbl bottom">
                    <p>
                        <strong>First Name:</strong></p>
                </div>
                <div class="my-access-field bottom">                    
                    @Html.TextBox("txtModifyFirstName",null, new { @class = "my-access-in", maxlength = 250 })
                </div>                
                <div class="my-access-lbl bottom">
                    <p>
                        <strong>Last Name:</strong></p>
                </div>
                <div class="my-access-field bottom">                    
                    @Html.TextBox("txtModifyLastName",null, new { @class = "my-access-in", maxlength = 250 })
                </div>                
                <div class="my-access-lbl bottom">
                    <p>
                        <strong>Card Number:</strong></p>
                </div>
                <div class="my-access-field bottom">                    
                    @Html.TextBox("txtModifyCardNum",null, new { @class = "my-access-in" })
                </div>                
                <div class="clear">
                </div>
            </div>
            <div class="my-access-right-btn" style="width:137px;">
                <div class="add-link" align="center" style="float: left;">
                    <input type="button" value="Next" onclick="CloseLookupOpenModification();"/>
                </div>
                <div class="add-link"  align="center" style="float: right;">
                    <input type="button" value="Cancel" onclick="CloseModifyPortlet();"/>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="grey-set">
            <div class="sett-icon">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/move-icon.png")" alt="" /></a>
            </div>
            <div class="sett-icon">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/settings-icon.png")" alt="" /></a>
            </div>
        </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function CloseLookupOpenModification() {

        $("#dvErrCardModify ul").empty();

        var CHModifyFirstName = $('#txtModifyFirstName').val();
        var CHModifyLastName = $('#txtModifyLastName').val();
        var CHModifyNumber = $('#txtModifyCardNum').val();
        var deviceID = $("#AccessViewDeviceList").val();
        var regModify = /^[0-9]+$/;
        var isErrModifyCH = "false";

        if (CHModifyFirstName == '' && CHModifyLastName == '' && CHModifyNumber == '') {
            $('#dvErrCardModify ul').append('<li class="validation-summary-accesspopup ">Any one of the fields is Required</li>');
            isErrModifyCH = "true";
        }        
        if (isErrModifyCH == "false") {
            var dataItem = { "firstName": CHModifyFirstName, "lastName": CHModifyLastName, "cardNumber": CHModifyNumber, "deviceId": deviceID };
            var url = '@Url.Action("GetCardHoldersInformation", "Access")';
            BlockElement("dvCardholderModify2Contentss", 'Connecting...');
            $.post(url, dataItem, GetCardHolderInfoFirstStepCallback, "json");
        }
    }

    function GetCardHolderInfoFirstStepCallback(ResultSet) {    
        UnBlockElement("dvCardholderModify2Contentss");
        if (ResultSet != null && ResultSet != undefined) {
            if (ResultSet.Message != null && ResultSet.Message != undefined && ResultSet.Message != "") {
                fnShowAlertInfo(ResultSet.Message);
            }
            else {
                document.getElementById('dvModifyCardHolder').style.visibility = 'hidden';
                var grid = $("#grdCardHolderList").data("kendoGrid");
                grid.dataSource.data(ResultSet);
                centerViewPortDialog("#dvMdfyCrdHldrList");
            }
        }
    }
    function CloseModifyPortlet() {
        document.getElementById('dvModifyCardHolder').style.visibility = 'hidden';
        document.getElementById('my_overlay').style.visibility = 'hidden';
    }
</script>